@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Minecraftia';
  src: url('/fonts/MinecraftiaRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Clash Display';
  src: url('/fonts/ClashDisplay-Variable.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
html{
  scrollbar-gutter: stable;
}
body {
  padding:3vw 2.5vw;
  cursor: url("/mouse.svg"),auto;
  font-family: 'Minecraftia',sans-serif;
}
.font-modal {
  font-family: 'Space Grotesk', sans-serif;
}
.font-china {
  font-family: 'Clash Display', sans-serif;
}



tbody tr td:first-child {
  border-top-left-radius: 0.5vw;
  border-bottom-left-radius: 0.5vw;
 
}

tbody tr td:last-child {
  border-top-right-radius: 0.5vw;
  border-bottom-right-radius: 0.5vw;
 
}
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background-color: #FFFBF7;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
  border-radius: 20px; 
  border: 3px solid #FFFBF7; 
}

::-webkit-scrollbar-thumb:hover {
  background-color: #B0B0B0;
}
